<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToLogin()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Regresar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="reset-password-container ion-padding">
    <h1 class="ion-text-center">Recupera tu contraseña</h1>

    <!-- Campo para el nombre de usuario -->
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input 
        type="text" 
        [(ngModel)]="username" 
        required 
        minlength="3" 
        maxlength="8"
        pattern="[a-zA-Z0-9]*"
        [disabled]="isUserValidated">
      </ion-input>
    </ion-item>

    <!-- Botón para obtener la pregunta de seguridad -->
    <ion-button expand="block" (click)="validateInputs()" *ngIf="!isUserValidated">Obtener Pregunta</ion-button>

    <!-- Pregunta de seguridad -->
    <ion-item *ngIf="isUserValidated && !isSecurityValidated">
      <ion-label position="floating">{{ securityQuestion }}</ion-label>
      <ion-input 
        type="text" 
        [(ngModel)]="securityAnswer" 
        required>
      </ion-input>
    </ion-item>

    <!-- Botón para validar la respuesta de seguridad -->
    <ion-button expand="block" (click)="validateSecurityAnswer()" *ngIf="isUserValidated && !isSecurityValidated">
      Validar Respuesta
    </ion-button>

    <!-- Nueva contraseña -->
    <ion-item *ngIf="isSecurityValidated">
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input 
        [type]="newPasswordType" 
        [(ngModel)]="newPassword" 
        required>
      </ion-input>
      <ion-button fill="clear" slot="end" (click)="toggleNewPasswordVisibility()">
        <ion-icon [name]="newPasswordIcon"></ion-icon>
      </ion-button>
    </ion-item>

    <!-- Confirmar contraseña -->
    <ion-item *ngIf="isSecurityValidated">
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input 
        [type]="confirmPasswordType" 
        [(ngModel)]="confirmPassword" 
        required>
      </ion-input>
      <ion-button fill="clear" slot="end" (click)="toggleConfirmPasswordVisibility()">
        <ion-icon [name]="confirmPasswordIcon"></ion-icon>
      </ion-button>
    </ion-item>

    <!-- Botón para cambiar la contraseña -->
    <ion-button expand="block" (click)="resetPassword()" *ngIf="isSecurityValidated">Cambiar Contraseña</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-text class="ion-text-center">
      <p>&copy; 2024. Todos los derechos reservados.</p>
    </ion-text>
  </ion-toolbar>
</ion-footer>
