<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/tabs/home" >
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sucursales" routerLink="/tabs/sucursales" >
      <ion-icon name="storefront"></ion-icon>
      <ion-label>Sucursales</ion-label>
    </ion-tab-button>

    <!-- Mostrar el tab de comentarios solo si el rol es 'usuario' -->
    <ion-tab-button *ngIf="userRole === 'usuario'" tab="comentarios" routerLink="/tabs/comentarios">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Comentarios</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="userRole === 'usuario' || userRole === 'administrador' || userRole === 'empresario '"tab="configuracion" routerLink="/tabs/configuracion">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
