<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToLogin()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Regresar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="create-account-container">
    <h2 class="ion-text-center">Regístrate</h2>

    <ion-segment [(ngModel)]="userType">
      <ion-segment-button value="usuario">
        Usuario
      </ion-segment-button>
      <ion-segment-button value="empresario">
        Empresario
      </ion-segment-button>
    </ion-segment>

    <ion-item *ngIf="userType === 'usuario' || userType === 'empresario'">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" required [(ngModel)]="firstName"></ion-input>
    </ion-item>

    <ion-item *ngIf="userType === 'usuario'">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" required [(ngModel)]="lastName"></ion-input>
    </ion-item>

    <!-- Email Field -->
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input
        type="email"
        required
        [(ngModel)]="email"
        (ionBlur)="checkEmail()"
      ></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="emailExists">
      <p>Este correo electrónico ya está registrado.</p>
    </ion-text>

    <!-- Username Field -->
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input
        type="text"
        maxlength="8"
        minlength="3"
        required
        [(ngModel)]="username"
        (ionBlur)="checkUsername()"
      ></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="usernameExists">
      <p>Este nombre de usuario ya está en uso.</p>
    </ion-text>

    <!-- Password Field -->
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [type]="passwordType" required [(ngModel)]="password"></ion-input>
      <ion-button fill="clear" slot="end" (click)="togglePasswordVisibility()">
        <ion-icon [name]="passwordIcon"></ion-icon>
      </ion-button>
    </ion-item>

    <!-- Security Question and Answer Fields for 'usuario' -->
    <ion-item lines="none" class="security-question-item" *ngIf="userType === 'usuario'">
      <ion-label position="stacked">Pregunta de Seguridad</ion-label>
      <ion-select placeholder="Selecciona una pregunta" [(ngModel)]="securityQuestion">
        <ion-select-option value="colorFavorito">¿Cuál es tu color favorito?</ion-select-option>
        <ion-select-option value="mascotaInfancia">¿Cómo se llamaba tu primera mascota?</ion-select-option>
        <ion-select-option value="ciudadNacimiento">¿En qué ciudad naciste?</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="userType === 'usuario'">
      <ion-label position="floating">Respuesta de Seguridad</ion-label>
      <ion-input type="text" required [(ngModel)]="securityAnswer"></ion-input>
    </ion-item>

    <!-- Additional Fields for 'empresario' -->
    <ion-item *ngIf="userType === 'empresario'">
      <ion-label position="floating">Nombre de Negocio</ion-label>
      <ion-input type="text" required [(ngModel)]="businessName"></ion-input>
    </ion-item>

    <ion-item *ngIf="userType === 'empresario'">
      <ion-label position="floating">Dirección de Negocio</ion-label>
      <ion-input type="text" required [(ngModel)]="businessAddress"></ion-input>
    </ion-item>

    <ion-item *ngIf="userType === 'empresario'">
      <ion-label position="floating">Teléfono de Negocio</ion-label>
      <ion-input type="tel" required [(ngModel)]="businessPhone"></ion-input>
    </ion-item>

    <!-- Register Button -->
    <ion-button expand="block" color="primary" (click)="register()" [disabled]="!isFormValid()">
      REGISTRARSE
    </ion-button>
    <ion-button expand="block" fill="clear" color="secondary" (click)="cancel()">
      CANCELAR
    </ion-button>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-text class="ion-text-center">
      <p class="ion-text-center">&copy; 2024. Todos los derechos reservados.</p>
    </ion-text>
  </ion-toolbar>
</ion-footer>
